#MyProfilePage {
    background-color: #fff;
    font-family: "Poppins",'sans-serif';
    margin: 5rem;

    main {
        display: flex;
        justify-content:center;

        height: 90%;

        padding: 4rem;
        border-radius: .5rem;
        background-color: rgb(173, 173, 173);
    }

    
}

