#workout {
    main {
        margin: 2.4rem;
        margin-left: 8rem;

        display: flex;
        text-align: center;
        justify-content: center;

        position: relative;

        font-family: 'Poppins' ,'sans-serif';
    }
}

.profile-content {
    float: left;
    width:70%;

    img {
        width: 10rem;
        border-radius: 6rem;
    }

    .name-profile {
        font-weight: 900;
        font-size: 1.3rem;
            
        text-align: center;
    }

    .personal-content {
       margin-top: 4rem;
       text-align: left;
       
        margin-right: 3rem;

       p {
           padding: .4rem;
           cursor: default;
       }

       .countdown-content {
           margin-top:1rem;
            background-color: #bbbbbb;
            border-radius: .4rem;
            padding: .3rem;
            color: #fff;
           p {
               font-size: 5rem;
               text-align:center;
               cursor: default;
           }
       }

       .start-countdown,
        .stop-countdown{
            width: 100%;
            border:none;
            margin-top: .4rem;
            padding: .6rem;
            border-radius: .4rem;
            font-weight: bolder;
            color: #fff;
            font-size: .9rem;
            
       }

       .start-countdown {
            background-color: #00dd12;
       }

       .start-countdown:hover {
            transition: .5s;   
            background-color: #008f0c;
            cursor: pointer;
       }

       .stop-countdown {
           background-color:#ff0000;
       }

       .stop-countdown:hover {
           background-color:#5c0000;
           cursor:pointer;
           transition:.5s;
       }
    }
}

.exercise-content {
    position: relative;
    float:right;
    border-radius: .4rem;
    color: #fff;
    font-weight: 700;
    padding: .5rem;
    background-color: #bbbbbb;
    width: 30rem;
    img {
        max-width: 20rem;
    }

    .image-exercise-painel {
        background-color: #fff;
        border-radius: .4rem;
    }

    .buttons-content {
       padding: .1rem;
        button {
            width: 48%;

            margin: .3rem;

            bottom: 0;

            padding: .3rem;

            color:#fff;
            border: none;
            margin-bottom: .5rem;
            border-radius: .1rem;
            font-size: 1.2rem;
            border-radius: .4rem;
        }
    }


    .failed-button-stopped {
        display: none;
    }

    .sucess-button-stopped {
        display: none;
    }

    .sucess-button-running {
        background-color: #00dd12;
        cursor: pointer;
        right: 0;
        margin-right: .3rem;
    }

    .failed-button-running {
        background-color: #ff0000;
        cursor:pointer;
        left: 0;
        margin-left: .3rem;
    }
}